
// set your custom colors here
$siteBgColorCustom: #FFFFFF;
$sidebarBgColorCustom: #f9f9f9;
$textColorCustom: #2B241D;
$sidebarTextColorCustom: #B85229;
$headlineColorCustom: #B85229;
$headingColorCustom: #A54417;
$bodyLinkColorCustom: #23120D;
$navLinkColorCustom: #815E4C;
$sidebarLinkColorCustom: #212121;
$footerTextColorCustom: #d8ba8e;
$buttonTextColorCustom: #FFFFFF;
$buttonHoverTextColorCustom: #FFFFFF;
$buttonBgColorCustom: #212121;
$buttonHoverBgColorCustom: #000000;
$borderColorCustom: #666666;

